#title-card {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding-bottom: 2%;
}

#gameplay {
    margin-top: 5em;
    display: flex;
    text-align: center;
}
