#login {
    width: 50%;
    margin: auto;
}

#login-title {
    text-align: left;
}

#login-box {
    min-width: 15em;
    max-width: 30em;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

#login-button {
    padding-left: 0.75em;
}

.login-not-attempted {
    border-color: gray;
}

.failed-login {
    border-color: red;
}

.login-text {
    color: black;
}

.failed-login-text {
    color: red;
}
