@mixin login-padding {
    padding-left: 0.75em;
}

.centered {
    width: 50%;
    margin: 0 auto;
}

#login-title {
    text-align: left;
    padding-bottom: 0.25em;
}

#login-box {
    min-width: 15em;
    max-width: 25em;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    padding-bottom: 1em;
}

#login-button {
    @include login-padding;
}

.login-not-attempted {
    border-color: gray;
}

.failed-login {
    border-color: red;
}

.login-text {
    @include login-padding;

    color: black;
}

.failed-login-text {
    @include login-padding;

    color: red;
}
