#top-card {
    display: block;
    margin: 0 auto;
    margin: 1em 1em 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 15em;
    border-radius: 5px;
    border-width: 0.125em;
    border-color: black;
    border-style: solid;
}

.divider {
    margin: 2em;
}
