#signup {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 30em;
    margin-right: 30em;
}

.signup-not-attempted {
    border-color: gray;
}

.failed-signup {
    border-color: red;
}

.signup-text {
    color: black;
}

.failed-signup-text {
    color: red;
}
