.sign-up-padding {
    padding-left: 0.5em;
}

.centered {
    width: 50%;
    margin: 0 auto;
}

#sign-up-title {
    text-align: left;
    padding-bottom: 0.25em;
}

#sign-up-box {
    padding-bottom: 1em;
    min-width: 15em;
    max-width: 25em;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
}

.sign-up-not-attempted {
    border-color: gray;
}

.failed-sign-up {
    border-color: red;
}

.signup-text {
    color: black;
}

.failed-sign-up-text {
    color: red;
}
