@mixin cell {
    width: 2em;
    height: 2em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.immutable-cell {
    @include cell;

    font-weight: bold;
}

.mutable-cell {
    @include cell;
}

.hyper-cell {
    background-color: pink;
}

.thick-top-bordered {
    border-top-width: medium;
    border-top-color: black;
    border-top-style: solid;
}

.thin-top-bordered {
    border-top-width: thin;
    border-top-color: black;
    border-top-style: solid;
}

.thick-bottom-bordered {
    border-bottom-width: medium;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.thin-bottom-bordered {
    border-bottom-width: thin;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.thick-left-bordered {
    border-left-width: medium;
    border-left-color: black;
    border-left-style: solid;
}

.thin-left-bordered {
    border-left-width: thin;
    border-left-color: black;
    border-left-style: solid;
}

.thick-right-bordered {
    border-right-width: medium;
    border-right-color: black;
    border-right-style: solid;
}

.thin-right-bordered {
    border-right-width: thin;
    border-right-color: black;
    border-right-style: solid;
}
