#board {
    width: fit-content;
    display: inline-block;
}

#cell-table {
    width: fit-content;
    height: fit-content;
    border-style: solid;
    border-width: thick;
    border-color: black;
}
