.all-cell {
    min-width: 3.5em;
    height: 3.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.immutable-cell {
    font-weight: bold;
}

.inner {
    margin: 0.25em;
}

.thick-top {
    border-top-width: thick;
    border-top-color: black;
    border-top-style: solid;
}

.thin-top {
    border-top-width: thin;
    border-top-color: black;
    border-top-style: solid;
}

.thick-bottom {
    border-bottom-width: thick;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.thin-bottom {
    border-bottom-width: thin;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.thick-left {
    border-left-width: thick;
    border-left-color: black;
    border-left-style: solid;
}

.thin-left {
    border-left-width: thin;
    border-left-color: black;
    border-left-style: solid;
}

.thick-right {
    border-right-width: thick;
    border-right-color: black;
    border-right-style: solid;
}

.thin-right {
    border-right-width: thin;
    border-right-color: black;
    border-right-style: solid;
}

.dashed-top {
    border-top-style: dashed;
    border-top-color: black;
    border-top-width: medium;
}

.dashed-bottom {
    border-bottom-style: dashed;
    border-bottom-color: black;
    border-bottom-width: medium;
}

.dashed-left {
    border-left-style: dashed;
    border-left-color: black;
    border-left-width: medium;
}

.dashed-right {
    border-right-style: dashed;
    border-right-color: black;
    border-right-width: medium;
}
