.all-cell {
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.immutable-cell {
    font-weight: bold;
}

.inner {
    padding: 0.25em;
    margin: 0.25em;
}

.top-negative {
    margin-top: -30%;
    margin-bottom: -5%;
}

.killer-sum-box {
    position: relative;
    z-index: 1;
    font-size: x-small;
    text-align: center;
    width: 35%;
    background-color: white;
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.thick-top {
    border-top-width: medium;
    border-top-color: black;
    border-top-style: solid;
}

.thin-top {
    border-top-width: thin;
    border-top-color: black;
    border-top-style: solid;
}

.thick-bottom {
    border-bottom-width: medium;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.thin-bottom {
    border-bottom-width: thin;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.thick-left {
    border-left-width: medium;
    border-left-color: black;
    border-left-style: solid;
}

.thin-left {
    border-left-width: thin;
    border-left-color: black;
    border-left-style: solid;
}

.thick-right {
    border-right-width: medium;
    border-right-color: black;
    border-right-style: solid;
}

.thin-right {
    border-right-width: thin;
    border-right-color: black;
    border-right-style: solid;
}

.dashed-top {
    border-top-style: dashed;
    border-top-color: black;
    border-top-width: medium;
}

.dashed-bottom {
    border-bottom-style: dashed;
    border-bottom-color: black;
    border-bottom-width: medium;
}

.dashed-left {
    border-left-style: dashed;
    border-left-color: black;
    border-left-width: medium;
}

.dashed-right {
    border-right-style: dashed;
    border-right-color: black;
    border-right-width: medium;
}
