.all-text {
    text-align: center;
    width: 100%;
    padding-top: 25%;
}

#play-area {
    padding-left: 25%;
}

#board {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    border-width: 0.5em;
    border-style: solid;
    border-color: black;
}

#save-button {
    margin-top: 0.5em;
}

#error-text {
    color: red;
    
}

#info-text {
    color: black;
}
