@mixin text {
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
}

#board {
    width: fit-content;
    display: inline-block;
}

#error-text {
    @include text;

    color: red;
    
}

#info-text {
    @include text;

    color: black;
}

#cell-table {
    width: fit-content;
    height: fit-content;
    border-style: solid;
    border-width: thick;
    border-color: black;
}
