@mixin cell {
    width: 2em;
    height: 2em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.immutable-cell {
    @include cell;

    font-weight: bold;
}

.mutable-cell {
    @include cell;
}

.cell-data {
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
}
