@mixin cell {
    width: 2em;
    height: 2em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.immutable-cell {
    @include cell;

    font-weight: bold;
}

.mutable-cell {
    @include cell;
}

.hyper-cell {
    background-color: pink
}

.top-bordered {
    border-top-width: medium;
}

.bottom-bordered {
    border-bottom-width: medium;
}

.left-bordered {
    border-left-width: medium;
}

.right-bordered {
    border-right-width: medium;
}

.cell-data {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
