#board {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cell_table {
    width: fit-content;
    height: fit-content;
    border-style: solid;
    border-width: thick;
    border-color: black;
}

#title_card {
    text-align: center;
    padding-top: 2em;
    text-decoration: underline overline;
}
